---
import Layout from "../layouts/Layout.astro";

title: "Trabaja con Nosotros";
---

<Layout>
    <section class="relative py-20 px-4 bg-[url('/imagentrabajador.webp')] bg-no-repeat bg-center bg-fixed min-h-screen overflow-hidden">
         <!-- Overlay verde con opacidad -->
    <div class="absolute inset-0 bg-primary-50 opacity-65 z-10"></div>


    <div class="relative max-w-3xl sm:mx-auto text-center z-20 mx-5">
        <h1 class="text-5xl text-secondary-100 mb-4 font-extrabold">
          Trabaja con nosotros
        </h1>
        <p class="mb-8   sm:text-2xl text-justify bg-secondary-100 rounded-2xl py-3 px-4 text-xl">
            En Distribuidora Agrícola J&G SAS creemos en el poder del campo colombiano y en el talento de su gente. Somos una empresa joven, con visión de crecimiento, innovación y compromiso con el medio ambiente. 
            Buscamos personas apasionadas, responsables y con ganas de crecer junto a nosotros, apoyando al agricultor con soluciones eficientes, productos de alta calidad y una asesoría cercana que transforma realidades.<br><br>
            Si compartes nuestros valores, quieres dejar huella en el agro colombiano y ser parte de una empresa que trabaja cada día con propósito, ¡este es tu lugar!, contactanos al siguiente correo y envianos tu hoja de vida:
            <br><br>
            
        </p>
        <span class="text-primary-50 sm:text-3xl rounded-2xl bg-secondary-100 p-2 text-xl">📧 talentohumano@agricolasjyg.com</span>
        
      </div>
    </section>
</Layout>