
<section class="bg-primary-50 py-16 px-4 lg:h-[440px]">
    <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-8 items-center transform duration-600 md:hover:translate-x-4 md:hover:-translate-y-4 pointer-events-auto">
      <!-- 📸 Parte izquierda: Marco con forma abstracta e imagen -->
      <div class="relative rounded-3xl shadow-2xl overflow-hidden ">
        <img
          src="/public/fotohero.webp"
          alt="Equipo trabajando"
          class="w-full h-full object-cover "
        />
      </div>

      <!-- 📝 Parte derecha: Texto u otro contenido -->
      <div class="text-white space-y-4">
        <h2 class="text-4xl font-bold text-secondary-100">Sobre Nosotros</h2>
        <p class="text-2xl leading-relaxe text-justify">
          Somos una empresa comprometida con el agro colombiano. Nuestro equipo
          trabaja con pasión para llevar soluciones a cada rincón del país.
        </p>
        <p class="text-2xl text-justify">
          Colaboramos con agricultores, técnicos y expertos en sostenibilidad,
          promoviendo buenas prácticas y desarrollo rural.
        </p>
      </div>
    </div>
  </section>